body {
  /* background: linear-gradient(
    to bottom,
    rgb(120, 62, 23) 0%,
    #2715c1 30%,
    #fbed32 50%,
    #c11515 70%,
    #238d53 100%
  );
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  background-image: url("https://preview.redd.it/a02u2ae0ede11.png?width=720&format=png&auto=webp&s=26ab39a344f5ef43440958387ea2f2e893820826");
  background-size: cover;
}

#main {
  text-align: center;
}

#opener {
  margin: 30px;
}

form {
  margin: 0px 30px;
}
#formName {
  margin: 4px 5px 0px 0px;
  font-size: 20px;
}

#allCards {
  display: flex;
  flex-flow: row wrap;
}

#studentsContainer {
  width: 50%;
  flex-direction: column;
}
#armyContainer {
  width: 50%;
  flex-direction: column;
}

.allStudents {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  /* height: 200px;
  width: 300px; */
}
#green {
  background: linear-gradient(135deg, green 40%, white 40%);
  /* background-size: ; */
}
#yellow {
  background: linear-gradient(135deg, yellow 40%, white 40%);
}
#blue {
  background: linear-gradient(135deg, blue 40%, white 40%);
}
#red {
  background: linear-gradient(135deg, red 40%, white 40%);
}
#black {
  color: lightgray;
  background-color: black;
}
