body {
  background-image: url("https://preview.redd.it/a02u2ae0ede11.png?width=720&format=png&auto=webp&s=26ab39a344f5ef43440958387ea2f2e893820826");
  background-size: cover;
  font-family: "Water Brush", cursive;
  margin: 20px;
}
#filterBtnContainer {
  margin: 20px 5px 20px 5px;
}

#main {
  text-align: center;
}

#opener {
  margin: 30px;
  background-color: rgba(250, 235, 215, 0.683);
  border-radius: 30px;
}

form {
  margin: 0px 30px;
}
#formName {
  margin: 4px 5px 0px 0px;
  font-size: 20px;
}
#sort {
  background-color: antiquewhite;
}

#allCards {
  display: flex;
  flex-flow: row wrap;
}

#studentsContainer {
  width: 50%;
  height: 1000px;
  flex-direction: column;
  background-color: rgba(144, 79, 0, 0.566);
  border-radius: 30px;
}
#studentsContainer h3 {
  margin: 10px;
}

#armyContainer {
  height: 1000px;
  width: 50%;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.498);
  border-radius: 30px;
}

#armyContainer h3 {
  margin: 10px;
  color: antiquewhite;
}

.allStudents {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  /* height: 200px;
  width: 300px; */
}
#green {
  background: linear-gradient(135deg, green 40%, white 40%);
  /* background-size: ; */
}
#yellow {
  background: linear-gradient(135deg, yellow 40%, white 40%);
}
#blue {
  background: linear-gradient(135deg, blue 40%, white 40%);
}
#red {
  background: linear-gradient(135deg, red 40%, white 40%);
}
#black {
  color: lightgray;
  background-color: black;
}
#studentCards {
  margin: 20px;
}
#armyCards {
  margin: 20px;
}
